h2 {
  font-family: 'Amaranth', sans-serif;

}


p, .nav-item
{

font-family: 'Open Sans', sans-serif;
}


nav ul li a {
  text-decoration: none;
  color: inherit;
}

div > a {
  text-decoration: none;
  color: inherit;
  font-family: 'Dancing Script', sans-serif;
}